body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $color-black;
    background-color: $color-background-dark;
}

.heading-primary {
    font-family: "Shrikhand", sans-serif;
    color: $color-black;
    margin-top: 1rem;
    
        &--main {
            display: block;
            font-size: 3.5rem;
        }

        &--footer {
            color: $color-white;
            font-size: 2rem;
        }
}

.heading-secondary {
    font-size: $title-font-size;
}



.fas.fa-mobile-alt {
        font-size: 1.9rem;
}
.fas.fa-list-ul {
        font-size: 1.6rem;
}
.fas.fa-store {
        font-size: 1.5rem;
}

.fas.fa-utensils {
    width: 2rem;
}

 






