@media screen and (min-width: 800px) {
    .loading-spinner {
        max-width: 80rem;
        margin: 0 auto;
    }
    .page-wrapper {
        position: relative;
        max-width: 80rem; 
        margin: 0 auto;
    }
}

